{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900 h-screen">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">

        <h1 class="text-center font-extrabold lg:text-4xl text-primary-600 dark:text-white">Панель администратора</h1>

        <div class="mx-auto max-w-screen-sm text-center mt-[50px] flex gap-2 flex-col">
            <!-- Форма для выбора курса -->
            <form class="w-full flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white"
                  action="{{ url_for('send_image_email') }}" method="post">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="course_select">Выберите
                    курс:</label>
                <select class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                        id="course_select" name="course_id">
                    {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}
                </select>
                <!-- Форма для выбора группы -->
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="group_select">Выберите
                    группу:</label>
                <select class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                        id="group_select" name="group_id">
                    <!-- Группы будут загружены динамически через JavaScript -->
                </select>
                <!-- Блок для отображения изображения -->
                <div id="image_container" class="mt-4"></div>

                <button id="send_email_button" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
                        style="display: none;">Отправить на почту
                </button>
            </form>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const courseSelect = document.getElementById('course_select');
        const groupSelect = document.getElementById('group_select');
        const imageContainer = document.getElementById('image_container');
        const sendEmailButton = document.getElementById('send_email_button');

        // Функция для отображения кнопки отправки изображения на почту
        function showSendEmailButton() {
            sendEmailButton.style.display = 'block';
        }

        // Функция для загрузки списка групп для выбранного курса
        function loadGroupsForSelectedCourse() {
            const selectedCourseId = courseSelect.value;

            // Очищаем список групп
            groupSelect.innerHTML = '';

            // Устанавливаем пустое значение для выбора группы
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.textContent = 'Выберите группу';
            groupSelect.appendChild(defaultOption);

            // Загружаем список групп для выбранного курса
            if (selectedCourseId !== '') {
                fetch(`/get_groups?course_id=${selectedCourseId}`)
                    .then(response => response.json())
                    .then(groups => {
                        groups.forEach(group => {
                            const option = document.createElement('option');
                            option.value = group.id;
                            option.textContent = group.name;
                            groupSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching groups:', error));
            }
        }

        // Функция для загрузки изображения для выбранного курса и группы
        function loadImageForSelectedCourseAndGroup() {
            const selectedCourseId = courseSelect.value;
            const selectedGroupId = groupSelect.value;

            // Загружаем изображение для выбранного курса и группы
            fetch(`/get_image?course_id=${selectedCourseId}&group_id=${selectedGroupId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.filename) {
                        // Если изображение найдено, обновляем содержимое контейнера изображения
                        imageContainer.innerHTML = `<img src="/static/uploads/${data.filename}" alt="Image" class="max-w-full h-auto mx-auto" />`;
                        // Показываем кнопку отправки изображения на почту
                        showSendEmailButton();
                    } else {
                        // Если изображение не найдено, очищаем содержимое контейнера изображения
                        imageContainer.innerHTML = '';
                        // Скрываем кнопку отправки изображения на почту
                        sendEmailButton.style.display = 'none';
                    }
                })
                .catch(error => console.error('Error fetching image:', error));
        }

        // Вызываем функцию загрузки групп при загрузке страницы
        loadGroupsForSelectedCourse();
        // Загружаем изображение при загрузке страницы
        loadImageForSelectedCourseAndGroup();

        // Обработчик события изменения значения курса
        courseSelect.addEventListener('change', function () {
            // Вызываем функцию загрузки групп при изменении курса
            loadGroupsForSelectedCourse();
            // Загружаем изображение после изменения курса и группы
            loadImageForSelectedCourseAndGroup();
        });

        // Обработчик события изменения значения группы
        groupSelect.addEventListener('change', function () {
            // Загружаем изображение после изменения курса и группы
            loadImageForSelectedCourseAndGroup();
        });
    });

</script>

{% endblock %}
